package {{ subDomain }}.{{ domain }}.{{ projectName }};

import com.fasterxml.jackson.annotation.JsonProperty;
import io.dropwizard.Configuration;
import io.federecio.dropwizard.swagger.SwaggerBundleConfiguration;
import org.hibernate.validator.constraints.NotEmpty;

public class AppConfiguration extends Configuration {

   @NotEmpty
   private String appName;

   @NotEmpty
   private String version;

   @JsonProperty("swagger")
   public SwaggerBundleConfiguration swaggerBundleConfiguration;

   @JsonProperty
   public String getAppName() {
      return appName;
   }

   @JsonProperty
   public void setAppName(final String appName) {
      this.appName = appName;
   }

   @JsonProperty
   public String getVersion() {
      return version;
   }

   @JsonProperty
   public void setVersion(final String version) {
      this.version = version;
   }
}
