package {{ subDomain }}.{{ domain }}.{{ projectName }};

import com.codahale.metrics.health.HealthCheck;
import com.mongodb.CommandResult;
import com.mongodb.MongoException;
import org.mongodb.morphia.Datastore;

public class MyHealthCheck extends HealthCheck {
    private final Datastore datastore;

    public MyHealthCheck(Datastore datastore) {
        this.datastore = datastore;
    }

    @Override
    protected Result check() throws Exception {
        try {
            final CommandResult stats = datastore.getDB().getStats();
            if (!stats.ok()) return Result.unhealthy(stats.getErrorMessage());
        } catch (MongoException ex) {
            return Result.unhealthy(ex.getMessage());
        }

        return Result.healthy();
    }
}