buildscript {
    repositories {
        jcenter()
        mavenCentral()
    }
    dependencies {
        classpath 'com.github.jengelman.gradle.plugins:shadow:1.2.4'
    }
}

apply plugin: 'application'
apply plugin: 'idea'
apply plugin: 'com.github.johnrengelman.shadow'

sourceCompatibility = 1.8

version '{{ version }}'
group '{{ subDomain }}.{{ domain }}.{{ projectName }}'
description 'Dropwizard Seed Project'

defaultTasks = ['clean', 'build', 'shadowJar']

project.ext {
    configPath = "$rootProject.projectDir/config/"
    configFileName = 'app-config.yml'
}

repositories {
    mavenCentral()
}

dependencies {
    compile "io.dropwizard:dropwizard-core:1.1.2"
    compile 'com.smoketurner:dropwizard-swagger:1.1.1-1'
    compile 'org.mongodb.morphia:morphia:1.3.2'
    compile 'org.mongodb:mongo-java-driver:3.4.2'

    testCompile 'io.dropwizard:dropwizard-testing:1.0.0'
}

mainClassName = '{{ subDomain }}.{{ domain }}.{{ projectName }}.App'

jar {
    manifest {
        attributes('Main-Class': mainClassName)
    }
}

shadowJar {
    mergeServiceFiles()
}

run {
    args 'server', configPath + configFileName
}
