package com.{{ domain }}.{{ projectName }};

import io.dropwizard.Application;
import io.dropwizard.setup.Environment;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.{{ domain }}.{{ projectName }}.resources.PersonService;

public class App extends Application<AppConfiguration> {
   public static final Logger LOGGER = LoggerFactory.getLogger(App.class);

   public static void main(final String[] args) throws Exception {
      new App().run(args);
   }

   @Override
   public void run(AppConfiguration config, Environment env) {
       LOGGER.info("Application name: {}", config.getAppName());
       final PersonService personService = new PersonService();
       env.jersey().register(personService);

       env.healthChecks().register("template",
           new MyHealthCheck(config.getVersion()));
   }
}
